form {
    display: flex;
    flex-direction: column;
}

button {
    margin: 20px 15px 0px 0px;
}

.formButtons {
    display: flex;
    justify-content: flex-end;
    margin-top: 155px;
}

.createServico {
    background-color: rgb(252, 252, 252);
    height: 100%;
}

.situacao {
    width: 32%;
    margin-right: 1%;
}

.categoria {
    width: 32%;
    margin-right: 1%;
}

.titulo {
    width: 100%;
}

.valor {
    width: 34%;
}

.descricao {
    resize: none;
}